* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
}

main {
  border: 1px solid black;
  display: grid;
  /* grid-auto-flow: column; this will set to auto */
  grid-template-columns: repeat(2, 1fr 2fr);
  grid-auto-rows: minmax(150px, auto);
  gap: 0.5rem 0.5rem;
}

.box {
  background-color: black;
  color: white;
  padding: 0.5rem;
}
