* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 10px double red;
  outline: 10px solid purple;
  outline-offset: -20px;
  font-size: 1.5rem;
  margin: 1.5em;
  padding: 1.5em 2em 3em 4em;
}

.circle {
  background: orange;
  border: 5px solid orange;
  width: 100px;
  height: 100px;
  margin: 40px auto;
  border-radius: 50px;
  outline: 2px solid red;
  outline-offset: 0.25rem;
}

/* NOTES:
    - Box-sizing = content-box -> compute only the size of the content
    - Box-sizing = border-box -> compute the size of content, border and the padding*/
