body {
  padding: 10%; /* this will set top-right-botttom-left to 25% and move the body to center*/
  font-size: 2rem;
  font-family: cursive;
}

/*  input,
button {
  font: inherit;  this will inherit the attribute of its parent element
} */

/* Font size should not be fixed value for the user accessiblity */

p {
  line-height: 1.5;
}

/* 
1. text-transform
2. text-decoration
3. text-align 
4. text-indent
5. line-height
6. letter-spacing
7. word-spacing
8. font-weight
9. font-style
10. font-family: cursive, serif, sans-serif, monospace
*/
