/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* End of reset */

/* Utility */

.profile-pic img {
  display: block;
}

.nowrap {
  white-space: nowrap;
}

/* End of utility */

.hero {
  border-bottom: 2px solid black;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;

  background-color: pink;
  background-image: url(../image-project/img/aes.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.h1 {
  font-size: 500%;
  text-shadow: 2px 2px 2px black;
  color: white;
}

.profile-pic {
  width: 25%;
}

.profile-pic img {
  width: 100%;
  height: auto;
  min-width: 100px;
  border: 5px double gray;
  border-radius: 50%;
}
