/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.block {
  width: 30vw;
  height: 30vh;
  background-color: black;
  color: whitesmoke;
  padding: 0.5rem;
}

section {
  background-color: orange;
  padding: 0.5rem;
  display: flow-root;
  /* display: flow-root is equivalent function of overflow */
}

.left {
  float: left;
  margin-right: 1rem;
}
.right {
  float: right;
  margin-left: 1rem;
}

.clear {
  clear: left;
}
