.column {
  /* column-count: 4;
  column-width: 250px; */
  /* shorthanded by doing below */
  columns: 4 250px;
  column-rule: 2px solid #333;
  column-gap: 2rem;
}

.column p {
  margin-top: 0;
}

.column h2 {
  background-color: #333;
  padding: 1rem;
  color: white;
  margin-top: 0;
  break-inside: avoid;
  /* break-before: column; */
}

/* 
1. break-inside 
    - prevents breaking parts into next column 
2. column-rule
    - divider
3. column-gap
    - spacing between 
4. break-before 
    - divide*/
