* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 17px;
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
}

nav {
  padding: 1rem;
  text-align: right;
  background-color: black;
}

li {
  display: inline-block;
  margin-inline: 0.5rem;
}

li a:hover,
li a:focus {
  color: whitesmoke;
  text-decoration: underline;
  transition: 0.2s;
}
